[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "vendor/imagine"]
	path = vendor/imagine
	url = git://github.com/avalanche123/Imagine.git
[submodule "vendor/bundles/FOS/UserBundle"]
	path = vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/FOSUserBundle.git
[submodule "vendor/bundles/Avalanche/Bundle/ImagineBundle"]
	path = vendor/bundles/Avalanche/Bundle/ImagineBundle
	url = git://github.com/avalanche123/AvalancheImagineBundle.git
